// styles.scss
$primary-color: #3498db;

// Centering everything
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


body {
  background-color: $primary-color;
}

h1 {
  color: white;
}

#my-id{
  position: absolute;
  top:5%;
  font-family: 'Courier New', Courier, monospace;
  background-color: grey;
  color: blue;
}

#my-id::before{
  content: "SocketID: ";
}

#main-pixi-container{
  text-align: center;
  width: 1200px;
  height: 800px;
  background-color: white;
}